# {{ ansible_managed }}

user {{ gm_nginx_service_user }};
worker_processes {{ gm_nginx_worker_processes }};
error_log {{ gm_nginx_log_error_path }};
pid {{ gm_nginx_service_pidfile }};

include /usr/share/nginx/modules/*.conf;

events {
    worker_connections {{ gm_nginx_worker_connections }};
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  {{ gm_nginx_log_access_path }} main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    include {{ gm_nginx_config_dir }}/*.conf;
}
