  # {{ ansible_managed }}

  fastcgi_split_path_info ^(.+?\.php)(/.*)$;

  if (!-f $document_root$fastcgi_script_name) {
    return 404;
  }

  # Mitigate https://httpoxy.org/ vulnerabilities
  fastcgi_param HTTP_PROXY "";

  fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
  fastcgi_param PATH_INFO $fastcgi_path_info;
  fastcgi_param HTTPS $https if_not_empty;

  #Avoid sending the security headers twice
  fastcgi_param modHeadersAvailable true;
  fastcgi_param front_controller_active true;

  fastcgi_intercept_errors on;
  fastcgi_request_buffering off;
  include fastcgi_params;
