# {{ ansible_managed }}

# Parts configured from recommmendations at:
# https://raymii.org/s/tutorials/Strong_SSL_Security_On_nginx.html and
# https://cipherli.st/

ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
{% if nginx_version_string.stdout | version_compare('1.1.0','>=') -%}
ssl_ecdh_curve secp384r1;
{% endif %}
ssl_prefer_server_ciphers on;
ssl_protocols TLSv1.2 TLSv1.1;
ssl_session_cache shared:SSL:10M;
{% if nginx_version_string.stdout | version_compare('1.5.9','>=') -%}
ssl_session_tickets off;
{% endif %}
{% if gm_nginx_ssl_dhparam is defined -%}
ssl_dhparam {{ gm_nginx_ssl_dhparam }};
{% endif %}
ssl_stapling on;
ssl_stapling_verify on;
resolver_timeout 5s;
{% if gm_nginx_ssl_hsts_enable -%}
add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
{% endif %}
{% if gm_nginx_ssl_enhanced_sec_headers -%}
add_header X-Frame-Options DENY;
add_header X-Content-Type-Options nosniff;
{% endif %}
gzip off;
