# {{ ansible_managed }}

{% if gm_nginx_vhost_ssl_redirect and gm_nginx_vhost_ssl_enable
  and not gm_nginx_is_using_letsencrypt -%}
server {
    listen 80;
    server_name {{ site_dict.value.server_name }};
    location / {
      return 301 https://$host$request_uri;
    }
}
{% endif -%}

server {

    listen {{ (site_dict.value.listen|string) }}
    {%- if nginx_http2_module.rc == 0 %} http2{%- endif -%};
    server_name {{ site_dict.value.server_name }};
    root {{ site_dict.value.webroot }};
    {% if gm_nginx_vhost_ssl_enable -%}
    ssl_certificate {{ gm_nginx_ssl_cert_crt }};
    ssl_certificate_key {{ gm_nginx_ssl_cert_key }};
    include {{ gm_nginx_include_dir}}/ssl.inc;
    {% endif %}

{% for location, properties in site_dict.value.locations.iteritems() %}
    location {{ location.replace('_','/') }} {
        {{ properties | regex_replace('$',";") }}
    }

{% endfor -%}

{%- if gm_nginx_vhost_php_enable %}
    location ~ [^/]\.php(/|$) {
        include {{ gm_nginx_include_dir }}/php.inc;
        fastcgi_pass {{ gm_nginx_vhost_php_backend }};
    }
{% endif %}

}
